<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncStackTraceEx" version="1.0.0.2" targetFramework="uap10.0.10053" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="0.14.1-build00382" targetFramework="uap10.0.10058" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="0.14.1-build00382" targetFramework="uap10.0.10058" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="0.14.1-build00382" targetFramework="uap10.0.10058" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="uap10.0.10058" userInstalled="true" />
  <package id="SharpDX" version="3.0.0-alpha01" targetFramework="uap10.0.10053" userInstalled="true" />
  <package id="SharpDX.XAudio2" version="3.0.0-alpha01" targetFramework="uap10.0.10053" userInstalled="true" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="uap10.0.10053" userInstalled="true" />
</packages>